<mat-toolbar color="accent" class="bottom_toolbar p-0">

        <button [routerLink]="['/']" [routerLinkActive]="['activeIcon']"
            class="bottom_toolbar_button" mat-icon-button aria-label="Neste side">

                <mat-icon class="bottom_toolbar_icon">home</mat-icon>

        </button>

        <button [routerLink]="['/oppdrag']" [routerLinkActive]="['activeIcon']" 
            class="bottom_toolbar_button" mat-icon-button aria-label="Neste side">

            <mat-icon class="bottom_toolbar_icon">view_list</mat-icon>

        </button>

        <button 
            class="bottom_toolbar_button" mat-icon-button aria-label="Neste side">

            <mat-icon class="bottom_toolbar_icon">hourglass_full</mat-icon>

        </button>

</mat-toolbar>
