<mat-toolbar color="accent" class="bottom_toolbar p-0">

        <button [routerLink]="['/oppdrag']" [routerLinkActive]="['activeIcon']"
          class="bottom_toolbar_button" mat-icon-button aria-label="Neste side">

          <mat-icon class="bottom_toolbar_icon">view_list</mat-icon>

        </button>

        <button [routerLink]="['/oppdragsgivere']" [routerLinkActive]="['activeIcon']"
            class="bottom_toolbar_button" mat-icon-button aria-label="Neste side">

            <mat-icon class="bottom_toolbar_icon">account_box</mat-icon>

        </button>

        <button [routerLink]="['/ansatte']" [routerLinkActive]="['activeIcon']"
            class="bottom_toolbar_button" mat-icon-button aria-label="Neste side">

            <mat-icon class="bottom_toolbar_icon">people</mat-icon>

        </button>

</mat-toolbar>
