.search_button{
    background-color:#CCC;
    
  }
  
  .search_input{
    width:100%;
  }
  
  .search_toolbar{
    font-size:1rem !important;
    height:72px!important;
    position: absolute;
    left:0px;
    z-index:1;
    overflow:hidden;
  }