<div class="img-row">
    <div class="img-column">
        <img  *ngFor="let image of images | imagerow: '1':'4';let i = index;trackBy: trackById"
        (click)="openImageViewer(image)"
        src="{{ image.fileURL | thumbnail }}"
        (error)="unloadedThumbnail($event.path[0])"
        (load)="loadedThumbnail($event.path[0])"
        />
    </div>
    <div class="img-column">
        <img  *ngFor="let image of images | imagerow: '2':'4';let i = index;trackBy: trackById"
        (click)="openImageViewer(image)"
        src="{{ image.fileURL | thumbnail }}"
        (error)="unloadedThumbnail($event.path[0])"
        (load)="loadedThumbnail($event.path[0])"
        />
    </div>
    <div class="img-column">
        <img  *ngFor="let image of images | imagerow: '3':'4';let i = index;trackBy: trackById"
        (click)="openImageViewer(image)"
        src="{{ image.fileURL | thumbnail }}"
        (error)="unloadedThumbnail($event.path[0])"
        (load)="loadedThumbnail($event.path[0])"
        />
    </div>
    <div class="img-column">
        <img  *ngFor="let image of images | imagerow: '4':'4';let i = index;trackBy: trackById"
        (click)="openImageViewer(image)"
        src="{{ image.fileURL | thumbnail }}"
        (error)="unloadedThumbnail($event.path[0])"
        (load)="loadedThumbnail($event.path[0])"
        />
    </div>
</div>
