<form *ngIf="passwordForm" class="form_container" [formGroup]="passwordForm">

<mat-form-field>
    <input matInput placeholder="Nåværende passord"  type="password" formControlName="oldPassword">
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Nytt passord"  type="password" formControlName="password">
  <mat-error *ngIf="this.password.invalid">
      Kontaktnummer må være mellom 4 og 12 siffer.
  </mat-error>
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Gjenta nytt passord"  type="password" formControlName="confirmPassword">
  <mat-error *ngIf="this.confirmPassword.invalid">
    Kontaktnummer må være mellom 4 og 12 siffer.
  </mat-error>
</mat-form-field>
<mat-error *ngIf="this.message">
  {{ this.message }}
</mat-error>
<br />
<button (click)="onSubmit()" [disabled]="this.passwordForm.invalid" mat-raised-button color="primary">Lagre</button>

</form>
