<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">Meny</mat-toolbar>
    <mat-nav-list>
        <a mat-list-item (click)="drawer.toggle()" [routerLink]="['/']" [routerLinkActive]="['active']">Hjem</a>
        <a mat-list-item (click)="drawer.toggle()" [routerLink]="['/oppdrag']" [routerLinkActive]="['active']">Oppdrag</a>
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content>

    <mat-toolbar color="primary" class="p-0" >
      <button
        class="nav_button"
        type="button"
        aria-label="Toggle sidenav"  
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span style="margin-right:auto">Bj Bygg & Eiendom</span>

      <router-outlet name="mainNavSearchBar"></router-outlet>
      
    </mat-toolbar>

    <router-outlet name="mainNavContent"></router-outlet>

    <router-outlet name="mainNavBotNav"></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
