<mat-list *ngIf="employers">
    <mat-list-item *ngFor="let employer of employers">
      <mat-icon mat-list-icon>work</mat-icon>
      <h4 mat-line><b>{{employer.name}}</b></h4>
      <p mat-line> {{employer.phoneNumber || 'Ingen kontaktnummer' }} </p>
      <p mat-line> {{employer.address || 'Ingen addresse' }} </p>
      <button *ifRole="['Leder']" (click)="openEditDialog(employer)" mat-icon-button aria-label="Rediger">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-list-item>
</mat-list>

<button color="primary"
    mat-mini-fab aria-label="ny"
    class="action_fab"
    *ifRole="['Leder','Mellomleder']"
    (click)="openCreateDialog()">
    <mat-icon color="accent">add</mat-icon>
</button>

