<p *ngIf="!missionList"><em>Laster inn oppdrag...</em></p>

<mat-nav-list class="p-0" *ngIf="missionList.missions">
    <mat-list-item *ngIf="missionList.missions.length == 0">Fant ingen oppdrag</mat-list-item>
    <app-nav-list-item *ngFor="let mission of missionList.missions"
        name="{{ mission.address }}" icon="home_work" [routerLink]="['/oppdrag', mission.id, 'detaljer']">
    </app-nav-list-item>
</mat-nav-list>

<button (click)="createMission()" color="primary" *ifRole="['Leder', 'Mellomleder']"
        mat-mini-fab aria-label="ny"
        class="action_fab"
        style="bottom:111px!important">
        <mat-icon>add</mat-icon>
</button>

<app-pagination
  *ngIf="missionList.paginationInfo"
  [paginationInfo]="missionList.paginationInfo"
  (pageChange)='changePage($event)'>
</app-pagination>

